<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjn.mall.goods.dao.IAttributeInfoDao">
    
    <!-- 根据模板id查询所有的属性 -->
    <select id="getAllAttributeInfoById" parameterType="com.jjn.mall.goods.dao.pojo.TAttributeInfo" resultType="com.jjn.mall.goods.dao.pojo.TAttributeInfo">
       select id , name, templetid  from t_attribute_info where templetid = #{templetId} order by createtime 
    </select>
    
    <select id="getAttributeInfoDetailById" parameterType="com.jjn.mall.goods.model.AttributeInfoDetailModel" resultType="com.jjn.mall.goods.model.AttributeInfoDetailModel">
       select id , name, templetid  from t_attribute_info where templetid = #{templetId} order by createtime desc
    </select>
    <!-- 新增属性 -->
    <insert id="addAttributeInfo" parameterType="com.jjn.mall.goods.dao.pojo.TAttributeInfo" useGeneratedKeys="true" keyProperty="id">
      insert into t_attribute_info(
         name, templetid, creater, createtime, modifier, modifytime
      )values(
         #{name}, #{templetId}, #{creater}, now(), #{creater}, now()
      )
    </insert>
    
    <!-- 删除属性 -->
    <delete id="deleteAttributeInfoByTempletId" parameterType="java.lang.Integer">
      delete  from t_attribute_info  where templetid = #{_parameter}
    </delete>
</mapper>